body {
    background-color: #000033;
}

.updbody {
    height: 115%;
}

.registerdiv {
    background-color: #000066;
    height: 560px;
    padding-right: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
}

.logindiv {
    background-color: #000066;
    height: 480px;
    padding-right: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
}

.signupheader {
    color: #fff;
    padding-top: 23px;
    font-family: Lobster;
}

.signupfield, select, textarea{
    background-color: #000066;
    color: #fff;
    height: 32px;
    border: none;
    border-bottom: 1px solid #99ccff;
    outline: none;
    border-radius: 0px;
}

textarea:focus, .signupfield:focus {
    background-color: #000066;
    color: #fff;
    height: 32px;
    border-bottom: 1px solid #99ccff;
    outline: none;
    border-radius: 0px;
}

.registerheader {
    border: 1px solid #99ccff;
    max-width: 28%;
    text-align: left;
}

.signupbtn {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(230,230,255,0.7);
    padding: 5px;
    width: 100%;
    background-color: #8080ff;
    color: #000033;
    font-family: Bree Serif;
    height: 45px;
}

.centeredlogin {
    padding: 100px;
    margin-top: -5px;
    color: #fff;
}

.loginform {
    margin-top: 55px;
}

.titlename {
    font-family: Lobster;
}

.homepagetitle {
    text-align: center;
    font-family: Lobster;
    padding: 15px;
    color: #fff;
}

.usernameheader {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.signoutbtn {
    border: none;
    padding: 8px;
    background-color: #ff0000;
    box-shadow: 0px 0px 8px rgba(255,0,0,0.99);
    border-radius: 10px;
    color: #fff;
}

.listnameinput, select, textarea {
    background-color: #00007d;
    box-shadow: 0px 0px 16px rgba(0,0,153,0.7);
    border: none;
    height: 50px;
    text-align: center;
    color: #fff;
}

textarea:focus, .listnameinput:focus {
    background-color: #000099;
    color: #fff;
    border: none;
}

.createlistbtn {
    margin-left: 15px;
    border: none;
    width: 50px;
    border-radius: 30px;
    background-color: #8080ff;
    box-shadow: 0px 0px 8px rgba(230,230,255,0.7);
    color: #000033;
}

.listnamediv {
    background-color: #000080;
    color: #fff;
    height: 150px;
    padding: 25px;
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.listitemdiv {
    background-color: #000080;
    color: #fff;
    height: 160px;
    padding: 25px;
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.listnameanditems {
    font-family: "Ubuntu";
    font-size: 25px;
}

.addbtn {
    width: 42px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #00cc99;
    box-shadow: 0px 0px 15px rgba(0,204,153,0.95);
    color: #fff;
}

.delbtn {
    width: 42px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ff0000;
    box-shadow: 0px 0px 15px rgba(255,0,0,0.95);
    margin-left: 5px;
    color: #fff;
}

.updbtn {
    width: 42px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ff9900;
    box-shadow: 0px 0px 15px rgba(255,153,0,0.95);
    margin-left: 5px;
    color: #000033;
}

.alertdiv {
    color: #fff;
    background-color: #8080ff;
    height: 50px;
    padding: 12px;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 30px rgba(128,128,255,0.8);
}

.updalertdiv {
    color: #fff;
    background-color: #8080ff;
    height: 60px;
    padding: 12px;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 30px rgba(128,128,255,0.8);
}

.updatebtn {
    margin-left: 15px;
    border: none;
    width: 50px;
    border-radius: 30px;
    background-color: #ff9900;
    box-shadow: 0px 0px 8px rgba(230,230,255,0.7);
    color: #000033;
}

.footerdiv {
    background-color: #000088;
    height: 370px;
    color: #99ccff;
    margin-bottom: 25px;
    padding: 40px;
    border-radius: 20px;
    font-family: "Ubuntu";
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
}

.footerhr {
    border: solid #8080ff;
    width: 30%;
}

.errordiv {
    color: #fff;
    font-family: Ubuntu;
    background-color: #000088;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.errormsg {
    padding: 35px;
    color: #fff;
    font-family: Ubuntu;
    background-color: #000088;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
}

.errorheader {
    font-family: "Bree Serif";
}

.errorhr {
    border: solid #8080ff;
    width: 48%;
}

.fa-bomb {
    font-size: 45px;
    margin-left: 5px;
    color: #8080ff;
}

.img-fluid {
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
    padding: 18px;
}

.errorpagesignin {
    margin-top: 2px;
    border: none;
    width: 75px;
    height: 34px;
    background-color: #8080ff;
    box-shadow: 0px 0px 8px rgba(128,128,255,0.8);
    border-radius: 20px;
}

.errorpagesignup {
    margin-top: 2px;
    border: none;
    width: 75px;
    height: 34px;
    margin-left: 5px;
    background-color: #8080ff;
    box-shadow: 0px 0px 8px rgba(128,128,255,0.8);
    border-radius: 20px;
}

::placeholder {
    font-family: "Ubuntu";
    color: #fff !important;
}

label {
    color: #fff;
    font-family: Asul;
}

/* Media Queries */

@media only screen and (max-width: 425px) {
    .loginbody {
        height: 900px;
    }

    .titlename {
        font-size: 35px;
    }

    .logindiv {
        height: 795px;
        font-size: 13.9px;
        width: 92%;
    }

    .loginform {
        margin-top: -30px;
        margin-left: 40px;
    }

    .centeredlogin {
        width: 443px;
        text-align: left;
        margin-left: -50px;
    }

    .registerdiv {
        width: 92%;
        height: 930px;
        font-size: 13.9px;
    }

    .registerform {
        margin-top: -60px;
        margin-left: 40px;
    }

    .registerbody {
        background-color: #000033;
        height: 980px;
    }

    .footerdiv {
        height: 680px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .listitemdiv {
        height: 175px;
    }

    .alertdiv {
        height: 65px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .updbody {
        height: 1172px;
    }

    .updalertdiv {
        height: 80px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .errordiv {
        display: none;
    }

    .errormsg {
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
    }
}

@media only screen and (max-width: 375px) {
    .centeredlogin {
        width: 395px;
        text-align: left;
        margin-left: -50px;
    } 

    .registerbody {
        background-color: #000033;
        height: 1010px;
    }

    .registerdiv {
        width: 92%;
        height: 960px;
        font-size: 13.9px;
    }

    .footerdiv {
        height: 690px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .alertdiv {
        height: 75px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .updbody {
        height: 1182px;
    }

    .errordiv {
        display: none;
    }

    .errormsg {
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
    }
}

@media only screen and (max-width: 320px) {
    .centeredlogin {
        width: 342px;
        text-align: left;
        margin-left: -50px;
    } 

    .registerbody {
        background-color: #000033;
        height: 1020px;
    }

    .registerdiv {
        width: 92%;
        height: 980px;
        font-size: 13.9px;
    }

    .footerdiv {
        height: 760px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .updbody {
        height: 1280px;
    }

    .updalertdiv {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .errordiv {
        display: none;
    }

    .errormsg {
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
    }
}

@media only screen and (min-width: 768px) {
    .centeredlogin {
        width: 443px;
        text-align: left;
        margin-left: -50px;
    } 

    .logindiv {
        height: 450px;
        font-size: 13.95px;
        width: 92%;
    }

    .registerdiv {
        width: 92%;
        height: 550px;
        font-size: 13.95px;
    }

    .footerdiv {
        height: 500px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .listitemdiv {
        height: 175px;
    }

    .alertdiv {
        height: 65px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .updbody {
        height: 990px;
    }

    .img-fluid {
        margin-top: 90px;
    }
}

@media only screen and (min-width: 992px) {
    .centeredlogin {
        width: 443px;
        text-align: left;
        margin-left: -50px;
    } 

    .logindiv {
        height: 450px;
        font-size: 13.98px;
        width: 92%;
    }

    .footerdiv {
        height: 420px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .updbody {
        height: 892px;
    }

    .img-fluid {
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .footerdiv {
        height: 370px;
        margin-left: 11px;
        margin-right: 11px;
    }

    .img-fluid {
        margin-top: 25px;
    }
}