body {
    background-color: #000033;
}

.registerdiv {
    /* background-image: linear-gradient(to right, #000099 , #00004d, #000099); */
    background-color: #000066;
    height: 560px;
    padding-right: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,255,0.7);
}

.signupheader {
    color: #fff;
    padding-top: 23px;
    font-family: Lobster;
}

.signupfield, select, textarea{
    /* background-image: linear-gradient(to right, #00004d, #000099); */
    background-color: #000066;
    color: #fff;
    height: 32px;
    border: none;
    border-bottom: 1px solid #99ccff;
    outline: none;
    border-radius: 0px;
}

textarea:focus, .signupfield:focus {
    background-image: linear-gradient(to right, #00004d, #000099);
    color: #fff;
    height: 32px;
    border-bottom: 1px solid #99ccff;
    outline: none;
    border-radius: 0px;
}

.registerheader {
    border: 1px solid #99ccff;
    max-width: 28%;
    text-align: left;
}

.signupbtn {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(230,230,255,0.7);
    padding: 5px;
    width: 100%;
    background-color: #8080ff;
    color: #000033;
    font-family: Bree Serif;
    height: 45px;
}

.centeredlogin {
    padding: 100px;
    margin-top: -5px;
    color: #fff;
}

.loginform {
    margin-top: 55px;
}

.titlename {
    font-family: Lobster;
}

.homepagetitle {
    text-align: center;
    font-family: Lobster;
    padding: 15px;
    color: #fff;
}

.usernameheader {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.signoutbtn {
    border: none;
    padding: 8px;
    background-color: #ff0000;
    box-shadow: 0px 0px 8px rgba(255,0,0,0.99);
    border-radius: 10px;
    color: #fff;
}

.listnameinput, select, textarea {
    background-color: #000066;
    box-shadow: 0px 0px 8px rgba(0,0,153,0.7);
    border: none;
    height: 50px;
    text-align: center;
}

textarea:focus, .listnameinput:focus {
    background-color: #000066;
    /* box-shadow: 0px 0px 8px rgba(230,230,255,0.7); */
    border: none;
}

.createlistbtn {
    margin-left: 15px;
    border: none;
    width: 50px;
    border-radius: 30px;
    /* width: 10%; */
    background-color: #8080ff;
    box-shadow: 0px 0px 8px rgba(230,230,255,0.7);
    color: #000033;
}

::placeholder {
    color: #fff !important;
}

label {
    color: #fff;
    font-family: Asul;
}